.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  flex-direction: column;
  display: flex;
  z-index: 100;
  border-radius: unset;
  padding-top: 32px;
}

.topContent {
  background: rgba(255, 255, 255);
  width: 90%;
  display: flex;
  position: relative;
  margin: 27px auto 0;
  justify-content: space-between;
  padding: 10px 0;
}

.contentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 95%;
  padding: 0 2.5%;
}

.content {
  position: relative;
  width: 90%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
}

.mailTo, .phone {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    text-align: center;
  }
}

.phone {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 999px;
}

.mailTo {
  background: linear-gradient(90deg, #5ab0ff 0%, #35a0ff 40%, #0070f3 80%, #0057c2 100%);
  color: #fff;
  padding: 10px 30px;
  border-radius: 999px;
  cursor: pointer;
}

.brand {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  transition: filter 200ms ease;
  cursor: pointer;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

 @media (min-width: 993px) {
  .content {
    margin-top: 0px;
    flex-direction: row;
  }
  
  .items {
    flex-direction: row;
    margin-bottom: 0px;
  }
 }