.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: unset;
  padding-top: 40px;
}

 .topContent {
  position: relative;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 .logo {
  display: block;
  height: auto;
  transition: filter 200ms ease;
}

 .content {
  position: relative;
  width: 90%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
 }

 @media (min-width: 993px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
 }