.menu {
  width: 90%;
  display: flex;
  justify-content: center;
  z-index: 20;
  transition: padding 200ms ease;
  border-radius: 999px;
  position: relative;
  background: rgba(255, 255, 255, 0.92);
  margin-top: 20px;
  height: 60px;
}

.content {
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.92);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: border-color 200ms ease, background 200ms ease;
}

.brand {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 0;
}

.logo {
  display: block;
  height: auto;
  transition: filter 200ms ease;
}

.hamburger, .language {
  z-index: 10;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 993px) {
 .brand {
  position: relative;
  width: auto;
  top: 0;
 }
}