@use "@/styles/layout.module.scss" as tokens;

.main {
    @include tokens.main;
}

.content {
  @include tokens.content;
}

.kicker {
  @include tokens.kicker;  
}

.title {
  @include tokens.title;
}

.list {
  @include tokens.list;
}

.card {
  padding: 24px;
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
  width: 100%;
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  color: rgba(210, 223, 243, 0.9);
}

@media (min-width: 768px) {
  .card {
    width: calc(33% - 61px);
  }
}