:root {
    --background: #E5E5E6;
    --foreground: #35a0ff;
}

body {
  background: linear-gradient(90deg, #5ab0ff 0%, #35a0ff 40%, #0070f3 80%, #0057c2 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  
  header, footer, nav, div, ul, li, a, p, button, h1 {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
  }
}
