:root {
    --background: #E5E5E6;
    --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  
  header, footer, nav, div, ul, li, a, p, button, h1 {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
  }
}
