@use "@/styles/layout.module.scss" as tokens;

.page {
  @include tokens.page;
  position: relative;
}

.page > * {
  animation: fadeInUp 0.6s ease both;
}

.page > *:nth-child(2) {
  animation-delay: 0.1s;
}

.page > *:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
