@use "@/styles/component.module.scss" as tokens;

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  z-index: 1;
}

.action {
  @include tokens.action;
  width: calc(70% - 40px);
}

@media (min-width: 768px) {
  .actions {
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }

  .action {
    height: 10%;
    margin: 0 auto;
  }
}
