@use "@/styles/component.module.scss" as tokens;

.main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: unset;
  height: 110vh;
  max-height: 500px;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.55);
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  left: 5%;
  top: 30%;
  height: 70%;
  z-index: 2;
  color: #fff;
}

.hero {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  @include tokens.title;
}


@media (min-width: 768px) {
  .main {
    max-height: 700px;
  }

  .content {
    flex-direction: row-reverse;
    height: 50%;
  }

  .hero {
    padding: 20px;
  }
}
