@use "@/styles/component.module.scss" as tokens;

.banner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: unset;
  height: 110vh;
  max-height: 500px;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.75);
}

.bannerContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  z-index: 2;
  color: #fff;
  width: 100%;
}

.title {
  margin: 0;
  display: block;
  font-size: clamp(1.4rem, 4vw, 3rem);
  text-align: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  padding: 20px 0;
  justify-content: center;
}

.action {
  width: calc(50% - 40px);
  @include tokens.action;
}

@media (min-width: 768px) {
  .banner {
    max-height: 700px;
  }

  .title {
    font-size: 1.70rem;
  }
}
