.banner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: unset;
  isolation: isolate;
  height: 110vh;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.75);
}

.content {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: start;
  width: 90%;
}

.actions {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1.5rem;
}

.action {
  padding: 0 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #0070f3;
  word-break: break-word;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
  min-width: 110px;
  max-width: 110px;
}

@media (max-width: 992px) {
  .banner {
    max-height: 500px;
  }

  .content {
    height: 70%;
    top: 30%; 
  }

  .title {
    font-size: 1.70rem;
  }
  
  .actions {
    gap: 20px;
    width: 50%;
  }

  .action {
    min-width: 110px;
    max-width: 110px;
    min-height: 110px;
    max-height: 110px;
  }

  .actions .action:nth-child(1),
  .actions .action:nth-child(3) {
    margin-right: 30px;
  }
}

@media (min-width: 993px) {
  .banner {
    max-height: 600px;
  }

  .content {
    height: 70%;
    top: 30%; 
  }

  .actions {
    gap: 25px;
    width: 375px;
  }

  .action {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
  }

  .actions .action:nth-child(1),
  .actions .action:nth-child(3) {
    margin-right: 30px;
  }
}
