.banner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: unset;
  height: 110vh;
  max-height: 500px;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.75);
}

.bannerContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  color: #fff;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
  top: 20%;
}

.title {
  margin: 0;
  display: block;
  font-size: clamp(1.4rem, 4vw, 3rem);
  text-align: center;
}

@media (min-width: 768px) {
  .banner {
    max-height: 700px;
  }

  .content {
    width: 90%;
    margin: 0 auto;
  }

  .title {
    font-size: 1.70rem;
  }
}
